{% assign setting=include.setting %}
<h3 id="{{ setting.name | slugify }}">
  {% if setting.label %} {{setting.label}} (<code>{{ setting.name }}</code>) {%
  else %}
  <code>{{ setting.name }}</code>
  {% endif %}
</h3>

<p>{{ setting.description }}</p>
