---
layout: page
---

{% assign maintainer = page.maintainer %}

<p>
  {% if maintainer.url %}
  <a href="{{maintainer.url}}" target="_blank">{{ maintainer.label }}</a>
  {% else %} {{ maintainer.label }} {% endif %} maintains
  {{maintainer.plugins.size}} connectors:
</p>

{% include plugin_grid.html plugins=maintainer.plugins %}
