---
layout: plugin_page
---

{% assign plugin = page.plugin %} {% assign variant = page.variant %} {% assign
maintainer = site.data.maintainers[variant.name] %}
<p>
  {% if plugin.type == "tap" %} The <code>{{plugin.singer_name}}</code>
  <a href="/singer/taps">Singer tap</a>
  pulls data from the
  <a href="{{plugin.domain.url}}" target="_blank">{{plugin.domain.name}}</a>
  that can then be sent to a destination using a
  <a href="/singer/targets">Singer target</a>. {% else %} The
  <code>{{plugin.singer_name}}</code>
  <a href="/singer/targets">Singer target</a>
  sends data into
  <a href="{{plugin.domain.url}}" target="_blank">{{plugin.domain.name}}</a>
  after it was pulled from a source using a
  <a href="/singer/taps">Singer tap</a>. {% endif %}
</p>

<ul>
  <li>
    <strong>Repository</strong>:
    <a href="{{variant.repo}}" target="_blank">{{ variant.repo }}</a>
  </li>
  <li>
    <a href="/singer/maintainers"><strong>Maintainer</strong></a
    >: {% if maintainer.url %}
    <a href="{{maintainer.url}}" target="_blank">{{ maintainer.label }}</a>
    {% else %} {{ maintainer.label }} {% endif %}
  </li>
  {% if variant.maintenance_status != "Unknown" %}
  <li><strong>Maintenance status</strong>: {{ variant.maintenance_status }}</li>
  {% endif %} {% if variant.metrics %} {% assign metrics = variant.metrics %}
  <li>
    <strong>Last push at</strong>: {{ metrics.last_push_timestamp |
    date_to_string }}
  </li>
  <li>
    <a href="{{variant.repo}}/issues" target="_blank">
      <strong>Open issues and PRs</strong> </a
    >: {{ metrics.num_open_issues }}
  </li>
  {% if metrics.num_stargazers > 0 %}
  <li><strong>Stars</strong>: {{ metrics.num_stargazers }}</li>
  {% endif %} {% endif %}
</ul>

{% if plugin.variants.size > 1 %}

<h2 id="variants">Alternative variants</h2>

<p>
  Multiple
  <a href="https://meltano.com/docs/plugins.html#variants" target="_blank"
    >variants</a
  >
  of <code>{{plugin.singer_name}}</code> are available. {% if
  page.variant_specific %} This document describes the
  <code>{{variant.name}}</code> variant. {% else %} This document describes the
  default <code>{{variant.name}}</code> variant, which is recommended for new
  users. {% endif %}
</p>

<p>Alternative variants are:</p>

<ul>
  {% for alt_variant in plugin.variants %} {% if alt_variant != variant %}
  <li>
    <a href="{{ alt_variant.url | prepend: site.baseurl | prepend: site.url }}">
      <code>{{alt_variant.name}}</code>
    </a>
    {% if alt_variant.default %}(default){%endif%}
  </li>
  {% endif %} {% endfor %}
</ul>

{% endif %}

<h2 id="standalone-usage">Standalone usage</h2>

<p>
  Install the package using
  <a href="https://pip.pypa.io/" target="_blank">pip</a>:
</p>

<pre><code>pip install {{variant.pip_url}}</code></pre>

<p>
  For additional instructions, refer to the
  <a href="{{variant.repo}}#readme" target="_blank">README in the repository</a
  >.
</p>

<h2 id="usage-with-meltano">
  Usage with <a href="https://meltano.com" target="_blank">Meltano</a>
</h2>

{% if plugin.type == "tap" %} {% assign meltano_plugins =
site.data.meltano.extractors %} {% assign meltano_type_article = "an" %} {%
assign meltano_type = "extractor" %} {% assign meltano_add_url =
"https://meltano.com/docs/getting-started.html#add-an-extractor-to-pull-data-from-a-source"
%} {% else %} {% assign meltano_plugins = site.data.meltano.loaders %} {% assign
meltano_type_article = "a" %} {% assign meltano_type = "loader" %} {% assign
meltano_add_url =
"https://meltano.com/docs/getting-started.html#add-a-loader-to-send-data-to-a-destination"
%} {% endif %} {% if meltano_plugins[plugin.name] %} {% assign
meltano_variant_names = meltano_plugins[plugin.name].variants | map: "name" %}
{% else %} {% assign meltano_variant_names = [] %} {% endif %} {% if
meltano_variant_names contains variant.name or
meltano_plugins[plugin.name].variant == variant.name %}
<p>
  <a
    href="https://meltano.com/docs/getting-started.html#install-meltano"
    target="_blank"
    >Install Meltano</a
  >,
  <a
    href="https://meltano.com/docs/getting-started.html#create-your-meltano-project"
    target="_blank"
    >create your Meltano project</a
  >, and
  <a href="{{meltano_add_url}}" target="_blank"
    >add the {{plugin.type}} to your project</a
  >
  as {{meltano_type_article}} {{meltano_type}}:
</p>

<pre><code>meltano add {{meltano_type}} {{plugin.singer_name}}{% if page.variant_specific %} --variant {{variant.name}}{% endif %}</code></pre>

<p>
  For additional instructions, refer to the
  <a href="/{{meltano_type}}s/{{plugin.name}}#getting-started"
    >Meltano-specific documentation for <code>{{plugin.singer_name}}</code></a
  >.
</p>
{% else %}
<p>
  <a
    href="https://meltano.com/docs/getting-started.html#install-meltano"
    target="_blank"
    >Install Meltano</a
  >,
  <a
    href="https://meltano.com/docs/getting-started.html#create-your-meltano-project"
    target="_blank"
    >create your Meltano project</a
  >, and
  <a href="{{meltano_add_url}}" target="_blank"
    >add the {{plugin.type}} to your project</a
  >
  as a
  <a
    href="https://meltano.com/docs/plugin-management.html#custom-plugins"
    target="_blank"
    >custom {{meltano_type}}</a
  >:
</p>

<pre><code>meltano add --custom {{meltano_type}} {{plugin.singer_name}}{% if page.variant_specific %} --variant {{variant.name}}{% endif %}</code></pre>

<p>
  Then,
  <a
    href="https://meltano.com/docs/getting-started.html#configure-the-{{meltano_type}}"
    target="_blank"
    >configure the {{meltano_type}}</a
  >, {% if meltano_type == "loader" %} add
  <a href="/singer/taps">any Singer tap</a> as
  <a
    href="https://meltano.com/docs/getting-started.html#add-an-extractor-to-pull-data-from-a-source"
    target="_blank"
    >an extractor to pull data from a source</a
  >
  and
  <a
    href="https://meltano.com/docs/getting-started.html#run-a-data-integration-el-pipeline"
    target="_blank"
    >run a data integration (EL) pipeline</a
  >. {% else %} add <a href="/singer/targets">any Singer target</a> as
  <a
    href="https://meltano.com/docs/getting-started.html#add-a-loader-to-send-data-to-a-destination"
    target="_blank"
    >a loader to send data to a destination</a
  >
  and
  <a
    href="https://meltano.com/docs/getting-started.html#run-a-data-integration-el-pipeline"
    target="_blank"
    >run a data integration (EL) pipeline</a
  >. {% endif %}
</p>
{% endif %}

<h2 id="settings">Settings</h2>

{% if variant.settings.size == 0 %}
<p>
  Check the
  <a href="{{variant.repo}}#readme" target="_blank">README in the repository</a>
  for more information on settings for this {{plugin.type}}.
</p>
{% else %} {% for setting in variant.settings %} {% include setting.html
setting=setting %} {% endfor %} {% endif %}

<h2 id="looking-for-help">Looking for help?</h2>

<p>
  If you're having trouble getting the {{plugin.type}} to work by itself or with
  <a href="https://meltano.com" target="_blank">Meltano</a>, look for an
  <a href="{{variant.repo}}/issues" target="_blank"
    >existing issue in its repository</a
  >, file a <a href="{{variant.repo}}/issues/new" target="_blank">new issue</a>,
  or
  <a
    href="https://join.slack.com/t/meltano/shared_invite/zt-obgpdeba-7yrqKhwyMBfdHDXsZY8G7Q"
    target="_blank"
    >join the Meltano Slack community</a
  >
  and ask for help in the <code>#plugins-general</code> channel.
</p>

<h3>Found an issue on this page?</h3>

<p>
  This page is generated from a
  <a
    href="https://gitlab.com/meltano/hub/-/tree/main/_data/{{plugin.type}}s/{{ plugin.name }}.yml"
    >YAML file</a
  >
  that you can contribute changes to! It is also validated against a
  <a href="/singer/api/v1/schema.json">JSON Schema</a> used for taps and
  targets.
</p>
