---
layout: default
---

{% assign plugin = page.plugin %} {% assign variant = page.variant %}
<article class="plugin">
  <header class="post-header">
    <h1 class="post-title">
      {% if plugin %}
      <img class="logo" src="{{plugin.logo_url}}" />
      {{ plugin.label }} {% if page.variant_specific %} (<code
        >{{variant.name}}</code
      >
      variant) {% endif %} {% else %} {{ page.title}} {% endif %}
    </h1>
  </header>

  <details class="post-toc">
    <summary>Table of Contents</summary>
    {% include toc.html html=content h_max=3 skip_no_ids=true %}
  </details>

  <div class="post-content">{{ content }}</div>
</article>
